SPRING_DATASOURCE_URL=SPRING_DATASOURCE_URL=jdbc:mysql://34.126.122.91:3306/chamvietuseUnicode=true&characterEncoding=UTF-8&connectionCollation=utf8mb4_general_ci&allowPublicKeyRetrieval=true&useSSL=false
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=qR|IbIz6(:,)Ib-R

BACKEND_PORT=8080
BACKEND_IMAGE=quanngo205/backend-chamviet:1.1.0
CHAMVIET_IMAGE_TAG=1.1.0

SPRING_PROFILES_ACTIVE=prod
SPRING_SQL_INIT_MODE=never
SPRING_JPA_HIBERNATE_DDL_AUTO=update

JWT_SECRET=7f3d9c8b2a614e5fa97c1d4e83b6f0a1c9d2e7f48b5a61d03e9f7c2a8b4d6e11
JWT_REFRESH_SECRET=7f3d9c8b2a614e5fa97c1d4e83b6f0a1c9d2e7f48b5a61d03e9f7c2a8b4d6e11
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
ENCRYPTION_SECRET_KEY=7f3d9c8b2a614e5fa97c1d4e83b6f0a1c9d2e7f48b5a61d03e9f7c2a8b4d6e11
API_KEY=7f3d9c8b2a614e5fa97c1d4e83b6f0a1c9d2e7f48b5a61d03e9f7c2a8b4d6e11

AI_VOICE_BASE_URL=https://voice-chamviet-88353049422.asia-southeast1.run.app
AI_VISION_BASE_URL=https://vision-chamviet-88353049422.asia-southeast1.run.app
AI_VISION_TIMEOUT_SECONDS=15

APP_CORS_ALLOWED_ORIGINS=https://www.chamviet.com.vn,https://chamviet.com.vn
APP_CONTACT_RECIPIENT=motvietnam@chamviet.com.vn

SPRING_MAIL_HOST=mail9077.maychuemail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=motvietnam@chamviet.com.vn
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
