figma-how-to.json
figma-main.json
figma-product-detail.json
figma-story.json
story-video.json
.vscode/mcp.json
.vscode/product/figmaImport.md
.vscode/product/system.md
.vscode/product/systemprompt.md
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
